.nav__logo {
  /* flex-grow: 3; */
  padding: 15% 0 5% 0;
  color: white;
  /* color: rgba(164, 143, 111); */
}

.logo {
  font-size: 2em;
}

@media screen and (min-width: 1024px) {
  .nav__logo {
    flex-grow: 3;
    padding: 0% 5%;
  }
}
